@page "/counter"
@using FiskalniPrevoditelj.Servisi
@inject IPrinterService printService;

<h1>Counter</h1>


<FluentSelect TOption="string"
              Label="Select a person"
              Items="@printeri"
              Id="people-listbox"
              Width="600px"
              Height="250px"
              Placeholder="Make a selection..."
              @bind-Value="@odabraniPrinter"
              @bind-SelectedOption="@odabraniPrinter" />

<FluentSelect TOption="string"
              Label="Select a person"
              Items="@printService.PaperSizes(odabraniPrinter)"
              Id="people-listbox"
              Width="600px"
              Height="250px"
              Placeholder="Make a selection..."
              @bind-Value="@odabraniPaperSize"
              @bind-SelectedOption="@odabraniPaperSize" />
<p>
    Odabrani printer @odabraniPrinter <br />
    Odabrani paper size @odabraniPaperSize
</p>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>
<hr />
<FluentNumberField @bind-Value="scale" Label="Scale" />
<hr />
<FluentTextArea @bind-Value="base64Image" Label="With label:" />

<hr />
<button class="btn btn-primary" @onclick="printPdf">Print pdf</button>
<hr />

@code {
    private int currentCount = 0;

    private string base64Image { get; set; }
    private float scale { get; set; }

    private List<string> printeri { get; set; }
    private string odabraniPrinter { get; set; }
    private string odabraniPaperSize { get; set; }

    protected override void OnInitialized()
    {
        printeri = printService.ListPirnters();
    }

    private void IncrementCount()
    {
        currentCount++;
    }
    private void OnOpenWindowClicked()
    {
        var secondWindow = new Window()
            {
                Page = new NewPage1("Meow~")
            };


        Application.Current.OpenWindow(secondWindow);
    }
    private void printPdf()
    {
        printService.PrintBase64Image(base64Image, odabraniPrinter, odabraniPaperSize);
    }
}
